// Place all the styles related to the Vision controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: green;
}

h2 {
  color: red;
}

.move {
  margin-left: 50px;
}

.nudge {
  margin-left: 37px;
}
